{% extends 'navigationbar.html' %}
{% load static %}
{% block body%}

<style>
    .mydivstyle:hover{
    box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px)
    }
</style>

<div class="container" style="margin-top:50px">
    <h2 class="text-center">Contact Us</h2>
    <br><br>
    <div class="row text-center mt-5">
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-phone-square"></i> Contact</h4>
            <a href="#"><p class="mt-3 font-weight-bold text-danger">+91 8740804618</p></a>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-envelope"></i> Send Email</h4>
            <a href="#"><p class="mt-3 font-weight-bold text-danger">modikartik19@gmail.com</p></a>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-address-card"></i> Office Address</h4>
            <a href="#"><p class="mt-3 font-weight-bold text-danger">Sector-3, Jawahar Nagar, Jaipur</p></a>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-address-card"></i> Office Hours</h4>
            <p class="mt-3 font-weight-bold text-danger">9:00 AM to 7:00 PM</p>
        </div>
    </div>
</div>
<footer class="text-center font-weight-bold" style="margin-top:200px;">
    <h2>Copyright &copy; 2020, All Rights reserved</h2>
</footer>
{% endblock %}